@charset "UTF-8";

@font-face {
  font-family: "hbh";
  src:url("../assets/fonts/hbh.eot");
  src:url("../assets/fonts/hbh.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/hbh.woff") format("woff"),
    url("../assets/fonts/hbh.ttf") format("truetype"),
    url("../assets/fonts/hbh.svg#hbh") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hbh" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hbh" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "a";
}
.icon-cancel:before {
  content: "b";
}
.icon-reorder:before {
  content: "c";
}
.icon-cross-mark:before {
  content: "d";
}
.icon-chevron-down:before {
  content: "e";
}
.icon-chevron-left:before {
  content: "f";
}
.icon-chevron-right:before {
  content: "g";
}
.icon-chevron-up:before {
  content: "h";
}
.icon-arrow-up:before {
  content: "i";
}
.icon-arrow-left:before {
  content: "j";
}
.icon-arrow-down:before {
  content: "k";
}
.icon-arrow-right:before {
  content: "l";
}
.icon-down-open-big:before {
  content: "m";
}
.icon-down-open-mini:before {
  content: "n";
}
.icon-down-open:before {
  content: "o";
}
.icon-left-open:before {
  content: "p";
}
.icon-left-open-big:before {
  content: "q";
}
.icon-left-open-mini:before {
  content: "r";
}
.icon-right-open:before {
  content: "s";
}
.icon-right-open-big:before {
  content: "t";
}
.icon-right-open-mini:before {
  content: "u";
}
.icon-plus:before {
  content: "v";
}
.icon-up-open:before {
  content: "w";
}
.icon-up-open-big:before {
  content: "x";
}
.icon-up-open-mini:before {
  content: "y";
}
.icon-twitter-circled:before {
  content: "z";
}
.icon-linkedin-circled:before {
  content: "A";
}
.icon-gplus-circled:before {
  content: "B";
}
.icon-facebook-circled:before {
  content: "C";
}
.icon-linkedin:before {
  content: "D";
}
.icon-gplus:before {
  content: "E";
}
.icon-twitter:before {
  content: "F";
}
