.top1 {margin-top:1em}
.top2 {margin-top:1.5em}
.top3 {margin-top:3em}
.ptop3 {padding-top:3em;}
.top15 {margin-top:15em}

.bottom1 {margin-bottom:1em}
.bottom2 {margin-bottom:1.5em}
.bottom3 {margin-bottom:3em}

/* Columns
========================================*/

.limiter {
      width:83.3333%;
      max-width:1000px;
      margin-left:auto;
      margin-right:auto;
  }

  .col0    { float:left; width:04.1666%; max-width:50px; }
  .col1    { float:left; width:08.3333%; max-width:100px; }
  .col2    { float:left; width:16.6666%; max-width:200px; }
  .col3    { float:left; width:25.0000%; max-width:300px; }
  .col4    { float:left; width:33.3333%; max-width:400px; }
  .col5    { float:left; width:41.6666%; max-width:500px; }
  .col6    { float:left; width:50.0000%; max-width:600px; }
  .col7    { float:left; width:58.3333%; max-width:700px; }
  .col8    { float:left; width:66.6666%; max-width:800px; }
  .col9    { float:left; width:75.0000%; max-width:900px; }
  .col10   { float:left; width:83.3333%; max-width:1000px; }
  .col11   { float:left; width:91.6666%; max-width:1100px; }
  .col12   { width:100%; display:block; }

  .unlimiter .col0,
  .unlimiter .col1,
  .unlimiter .col2,
  .unlimiter .col3,
  .unlimiter .col4,
  .unlimiter .col5,
  .unlimiter .col6,
  .unlimiter .col7,
  .unlimiter .col8,
  .unlimiter .col9,
  .unlimiter .col10,
  .unlimiter .col11 {
    max-width: none;
}

.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* reverse margins on right-floated elements */
.margin0r  { margin-right:04.1666%; }
.margin1r  { margin-right:08.3333%; }
.margin2r  { margin-right:16.6666%; }
.margin3r  { margin-right:25.0000%; }
.margin4r  { margin-right:33.3333%; }
.margin5r  { margin-right:41.6666%; }
.margin6r  { margin-right:50.0000%; }
.margin7r  { margin-right:58.3333%; }
.margin8r  { margin-right:66.6666%; }
.margin9r  { margin-right:75.0000%; }
.margin10r { margin-right:83.3333%; }
.margin11r { margin-right:91.6666%; }
.margin12r { margin-right:100.0000%; }

.pad3y { padding: 3em 0em 3em 0em; }


.fr { float: right; }
.cb { clear:both; }

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix { display:block; }
.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* fixed stuff
========================================*/

.pin-topleft {
    position: fixed;
    top: 0;
    left: 0;
}
.pin-topright {
    position: fixed;
    top: 0;
    right: 0;
}
.pin-bottomleft {
    position: fixed;
    bottom: 0;
    left: 0;
}

.amp {
  font-size: 110%;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
    font-weight: normal;
}

[role="main"]{
  padding-bottom:2em;
}
@media all and (max-width:40em){
  .pin-topleft,
  .pin-bottomleft,
  [role="main"]{
     position: relative;
     width:100%;
   }
  [role="main"]{
    margin:0;
  }
  nav.top3{
    margin:1em auto;
    width: 83.3333%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    float:none;
  }
  form .pin-topleft{
    position:relative;
    float:none;
    max-width:1000px;
    width:100%;
    margin:0;
    small, div{
      float:left;
      width:50%;
    }
  }
}
