::selection {
  background-color: #efefef;
  color: #000;
}

body, input {
  font-family: $sans;
  color: #333;
  background-color: $lightestGray;
}

h1,
h2 {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

h3 {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

small {
    color: $lightGray;
    font: $code;
}

.gradient {
    position: fixed;
    bottom: 0;
    height: 9em;
    width: 100%;
    background-image: linear-gradient(transparent, $lightestGray);
    @media all and (max-width:40em){
      display:none;
    }
}

.logo {
    width: 3em;
    margin-left: .75em;
    margin-bottom: .5em;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .25;

    transition: all .25s;

    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
    }
}

nav {
    //TO FIX: remove this in favor of z100
    z-index: 100;
    font-family: $code;
    li a {
        color: $lightGray;
    }

    li a:hover {
        color: $linkColor;
    }
}

/* NEW GIST STYLES */
input {
    display: block;
    border: none;
    padding: .5em .5em .5em 0em;
    box-sizing:border-box;
    border-bottom:2px solid transparent;
    font-size: .875em;

    &:hover {
    border-bottom: 2px solid $lighterGray;
    }
    &:focus {
    border-bottom: 2px solid $linkColor;
    outline: none; //test
    }
}

footer {
    color: #ccc;
    padding: 12em 0em 0em 0em;
    font-family: $code;

    a {
        color: $lightGray;
    }

    a:hover {
        color: $linkColor
    }
}

.filename {
    font-weight: bold;
    font-size: 1.5em;
}

.prev{
  float:left;
  position:relative;
  z-index:2;
}

.next{
  float:right;
  position:relative;
  z-index:2;
}

.gist-title{
  font-size:2em;
}

.gists small{
  display:block; 
}

.gists{
  padding: 0;
  margin-bottom:2em;

  li {
    overflow: auto;
    padding: 1.5em 0em 1.5em;
    border-bottom: 1px solid $lighterGray;
  }
}



.gist-title{
  font-size: 2em;
}

article > h1{
  margin-top:0;
}

/* Pill wrapper for joining buttons. */
/* Use <!-- --> to eliminate whitespace between buttons. */
.pill > * {
    border-radius:0 0 0 0;
    border:0 solid white;
    border-left-width:1px;
}
.pill > *:first-of-type {
    border-radius:3px 0 0 3px;
    border-left-width:0;
}
.pill > *:last-of-type {
    border-radius:0 3px 3px 0;
}
.pill > *:only-child {
    border-radius:3px;
}

.pill .button.stroke {
    border-right-width: 2px;
    border-left-width: 0;
}

.pill .button.stroke:first-of-type {
    border-left-width: 2px;
}

@media all and (max-width:40em){
  .pill{
    font-size:.9em;
  }
}

.checkbox-pill input[type=checkbox] { display: none;}
.checkbox-pill input[type=checkbox] + label:before { background-color: $salmon; border-radius: 2px; margin-top: 1px; }
.checkbox-pill input[type=checkbox]:checked + label:before { background-color: $linkColor; }
.checkbox-pill input[type=checkbox]:not(:checked) + label:before {
  content: "\e614";
}

//for the public checkbox
label.btn.icon.check {
  border-radius: 0;
  border-left: 1px solid white;
  cursor: pointer;
}

.btn {
    display: inline;
    padding: .5em;
    font-size: .875em;
    line-height: 1.71429em;
    margin: 0em;
    text-align: center;
    color: $lightGray;
    background-color: $gray;
    font-family: $code;

    &:hover {
        color: #FFF;
    }

    &.btn-main {
        color: #FFF;
        background-color: $linkColor;
    }
    
    &.btn-main:hover {
        background-color:#51BCFF;
    }
    &.btn-delete{
      background-color: #E84019;
    }
    &.btn-delete:hover{
      background-color: #F2AA4B;
    }
}

[data-saved="false"].btn.btn-main {
  transition: all 1s;
  background-color: $salmon;
  -webkit-animation: pulse 15s 1s infinite;
  animation: pulse 15s 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
      background-color: $salmon;
  }
  50% {
      background-color: $deepRed;
  }
  100% {
      background-color: $salmon;
  }
}

@keyframes pulse {
  0% {
      background-color: #F2AA4B;
  }
  50% {
      background-color: #E84019;
  }
  100% {
      background-color: #F2AA4B;
  }
}

.CodeMirror-wrap{
  background: #fff;
  clear:both;
}

.CodeMirror{
  min-height: 500px;
}

.CodeMirror .CodeMirror-cursors div.CodeMirror-cursor{
  border-left: 2px solid #333;
}

.CodeMirror .cm-variable-2{
  color: #666;
}

.cm-s-default .cm-header {
  color:inherit;
}

.cm-header-1{
  font-size: 1.5em;
}

.cm-header-2{
  font-size: 1.25em;
}

.cm-header-3{
  font-size: 1em;
}

.public-private,
.private-public{
  font-size: .8em;
  color: $lightGray;
}

.hide { display: none; }
