::selection {
  background-color: #efefef;
  color: #000;
}


body, input {
  font-family: $sans;
  color: #333;
  background-color: $offWhite;
}

h1,
h2 {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

h3,
label {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

small {
    color: $lightGray;
}

nav {
    font-family: $code;
    li a {
        color: $lightGray;
    }

    li a:hover {
        color: $linkColor;
    }
}

/* NEW GIST STYLES */
input {
    display: block;
    border: none;
    padding: .25em 0em .5em 0em;

    &:hover {
    border-bottom: 2px solid $lighterGray;
    }
    &:focus {
    border-bottom: 1px solid $linkColor;
    outline: none; //test
    }
}

footer {
    color: #ccc;
    padding: 12em 0em 0em 0em;
    font-family: $code;

    a {
        color: $lightGray;
    }

    a:hover {
        color: $linkColor
    }
}

.filename {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
}

.description {
    font-size: 1em;
    line-height: 1.5em;
    padding: .375em 0em .75em 0em;
}

.prev{
  float:left;
}

.next{
  float:right;
}

.gist-title{
  font-size:2em;
}

.gists small{
  display:block; 
}

.gists{
  padding: 0;
  margin-bottom:2em;
}

.gist-title{
  font-size: 2em;
}

article > h1{
  margin-top:0;
}
