::selection {
  background-color: #efefef;
  color: #000;
}


body, input {
  font-family: $sans;
  color: #333;
  background-color: $lightestGray;
}

h1,
h2 {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

h3,
label {
  font-family: $sans;
  font-weight: bold;
  color: #222;
}

small {
    color: $lightGray;
    font: $code;
}

nav {
    font-family: $code;
    li a {
        color: $lightGray;
    }

    li a:hover {
        color: $linkColor;
    }
}

/* NEW GIST STYLES */
input {
    display: block;
    border: none;
    padding: .5em;
    box-sizing:border-box;
    border-bottom:2px solid transparent;

    &:hover {
    border-bottom: 2px solid $lighterGray;
    }
    &:focus {
    border-bottom: 2px solid $linkColor;
    outline: none; //test
    }
}

footer {
    color: #ccc;
    padding: 12em 0em 0em 0em;
    font-family: $code;

    a {
        color: $lightGray;
    }

    a:hover {
        color: $linkColor
    }
}

.filename {
    font-weight: bold;
    display:block;
    width:100%;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom:.5em;
}

.description {
    font-size: 1em;
    margin-bottom:.5em;
    display:block;
    width:100%;
    line-height: 1.5em;
}

.prev{
  float:left;
}

.next{
  float:right;
}

.gist-title{
  font-size:2em;
}

.gists small{
  display:block; 
}

.gists{
  padding: 0;
  margin-bottom:2em;

  li {
    overflow: auto;
    padding: 1.5em 0em 1.5em;
    border-bottom: 1px solid $lighterGray;
  }
}



.gist-title{
  font-size: 2em;
}

article > h1{
  margin-top:0;
}

[role="main"]{
  background: $offWhite;
}
