::selection {
  background-color: #efefef;
  color: #000;
}


body, input {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #222;
}

h1,
h2 {
  font-family: $serif;
  font-weight: normal;
}

h3,
label {
  font-family: $sans-serif;
  font-weight: bold;
}
