$offWhite: #f6f6f6;
$gray: #222;
$lightGray: #c4c4c4;
$lighterGray: #eee;
$lightestGray: #fefefe;
$linkColor: #1998e8;
$salmon: #FF7777;
$deepRed: #CF2B2B;


$sans: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$code: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
