$offWhite: #fafafa;
$gray: #222;
$lightGray: #c4c4c4;
$lighterGray: #eee;
$linkColor: #1998e8;


$sans: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$code: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
