@import 'vars'; //sass variables
@import 'icons';
@import 'base'; // element only selectors
@import 'layout'; // layout classes. prefix with .l- (l stands for layout)
@import 'modules'; // reusable widgets
@import 'states'; // active classes (.is-collapsed), media queries
@import 'theme'; // colors, fonts, etc.

// in desperate need of refactoring:

body{
  padding-bottom: 2em;
  &:after{
    content:' ';
    display:table;
    clear:both;
  }
}

.prev{
  float:left;
}

.next{
  float:right;
}

.gists li{
  border-bottom:1px solid #c4c4c4;
  padding:2em 0;
}
.gist-title{
  font-size:2em;
}

textarea {
  display: block;  
  width: 100%;
  border: none;
  overflow:hidden;
  background: #eee;
  font: inherit;
  padding: 1em;
  font-family: Monaco, monospace; }

.filename{
  display:block;
  width:100%;
  border:none;
  margin-bottom:.5em;
  font-size:1.25em;
}

.description{
  display:block;
  width:100%;
  font:inherit;
  padding:0 1em .5em  1em;
  margin:0 0 0 0;
  border:none;
  font-size:2em;
  padding-left:0;
}

.gists small{
  display:block; 
}

.gists{
  padding: 0;
  margin-bottom:2em;
}

.gist-title{
  font-size: 2em;
}

.private{
  font-size:.8em;
  margin-bottom: 2em;
  color:#c4c4c4;
}

article > h1{
  margin-top:0;
}
