<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/codemirror.css'>
    <script src="//use.typekit.net/ipa4wed.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/overlay.js"></script>
    <script src="/js/markdown.js"></script>
    <script src="/js/gfm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width"
  </head>
<body class=''>
  <div class='clearfix'>
  <div class='col7 float-none top3 margin-auto' role="main">
      {{#if session.accessToken}}
   <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a><!--
        --><a class='btn' href='https://github.com/jshawl/gistalt/issues/new'>Submit feedback</a><!--
        --><a class='btn' href='/logout'>Logout</a>
    {{else}}
   <nav class='pin-topleft margin0 col2 top3'>
      {{/if}}
    </div>
  </nav>
      <article class=''>
    {{{body}}}
    </article>
  </div>
  </div>
<footer style='display:none' class="col2 margin0 bottom3 pin-bottomleft">
    Made with ♥ by
    <br/>
    <a href='https://twitter.com/jshawl'>@jshawl</a> 
    <em class="amp">&amp;</em> 
    <br/>
    <a href='https://twitter.com/duncangraham'>@duncangraham</a>
</footer>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='/js/active-storage.js'></script>
  <script src='/js/app.js'></script>
</body>
</html>
