<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <script src="//use.typekit.net/ipa4wed.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width"
  </head>
<body>
   <nav>
    <ul>
      {{#if session.accessToken}}
        <li>
            <a href='/'>GISTALT</a> 
        </li>
        <li>
            <a href='/'>Your gists</a>
        </li>
        <li>
            <a href='/'>New gist</a>
        </li>
        <li>
            <a href='/'>Fork and save</a>
        </li>
        <li>
            <a href='/'>View on github</a>
        </li>
        <li>
            <a href='/logout'>Logout</a>
        </li>
    {{else}}
        <li>
            <a href='/'>GISTALT</a> 
        </li>
        <li>
            <a href='/login'>Your gists</a>
        </li>
        <li>
            <a href='/login'>New gist</a>
        </li>
        <li>
            <a href='/login'>Fork and save</a>
        </li>
        <li>
            <!-- This should be the default loaded gist -->
            <a href='/'>View on github</a>
        </li>
      {{/if}}
    </ul>
  </nav>
  <h1></h1>
    {{{body}}}
  <script src='/js/app.js'></script>
</body>
</html>
