<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='{{css}}'>
    <script src="//use.typekit.net/ipa4wed.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width">
  </head>
<body class=''>
  <div class='clearfix'>
  <div class='col7 float-none top3 margin-auto' role="main">
  <article class=''>
    {{{body}}}
  </article>
  </div>
  </div>
  <!--
<footer class="col2 margin0 bottom3 pin-bottomleft">
    Made with ♥ by
    <br/>
    <a href='https://twitter.com/jshawl'>@jshawl</a> 
    <em class="amp">&amp;</em> 
    <br/>
    <a href='https://twitter.com/duncangraham'>@duncangraham</a>
</footer>
-->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='{{js}}'></script>
</body>
</html>
