<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/codemirror.css'>
    <script src="//use.typekit.net/ipa4wed.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/overlay.js"></script>
    <script src="/js/markdown.js"></script>
    <script src="/js/gfm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width"
  </head>
<body class=''>
      {{#if session.accessToken}}
   <nav class='pin-topleft margin0 col2 top12'>
    <ul>
        <li>
            <a href='/'>Your gists</a>
        </li>
        <li>
            <a href='/new'>New gist</a>
        </li>
        </li>
        <li class='top2'>
            <a href='/logout'>Logout</a>
        </li>
    {{else}}
   <nav class='pin-topleft margin0 col2 top6'>
    <ul>
        <li>
            <a href='/'>GISTALT</a> 
        </li>
        <li class='top2'>
            <a href='/login'>Log In with GitHub</a>
        </li>
      {{/if}}
    </ul>
  </nav>
  <div class='clearfix'>
  <div class='col9 margin2 top3' role="main">
      <article class='limiter'>
    {{{body}}}
    </article>
  </div>
  </div>
<footer class="col2 margin0 bottom3 pin-bottomleft">
    Made with ♥ by
    <br/>
    <a href='https://twitter.com/jshawl'>@jshawl</a> 
    <em class="amp">&amp;</em> 
    <br/>
    <a href='https://twitter.com/duncangraham'>@duncangraham</a>
</footer>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='/js/active-storage.js'></script>
  <script src='/js/app.js'></script>
</body>
</html>
