<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
  </head>
<body>
  <h1><a href='/'>gizt</a></h1>
  {{#if session.accessToken}}
    <a href='/logout'>Logout</a>
  {{else}}
  <a href='/login' class=''>Log in with GitHub</a>
  {{/if}}
  {{{body}}}
</body>
</html>
