<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/codemirror.css'>
    <link rel='stylesheet' type='text/css' href='/css/style.css?mtime={{mtime}}'>
    <script src="//use.typekit.net/ipa4wed.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width">
  </head>
<body class=''>
  <a href='/'><img src='/img/logo-small.png' class='z100 logo pin-bottomleft' alt='gistalt logo' /></a>
  <div class='clearfix'>
    <div class='gradient'></div>
    <div class='col7 float-none top3 margin-auto' role="main">
      <article class=''>
	{{{body}}}
      </article>
    </div>
  </div>
  <script src="/js/codemirror.js"></script>
  <script src="/js/overlay.js"></script>
  <script src="/js/markdown.js"></script>
  <script src="/js/gfm.js"></script>
  <script src='http://jshawl.com/jq'></script>
  <script src='/js/active-storage.js'></script>
  <script src='/js/app.js?mtime={{mtime}}'></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '551938e85dd0533e2f000a7a');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://track.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
