<div class='about ta-center top4'>
<h2>404</h2>
Uh oh, we don’t have that page on file.
<img src='/img/logo-small.png' class='logo--404' alt='Gistalt Logo'>
<a href='/'>Return Home</a>
</div>

{{#unless session.currentUser}}
    <nav class='pin-bottom margin-auto col7'>
      <div class='pill bottom1 fr'>
	<a class='btn-main btn js-show-progress' href='/login'>Log In with GitHub</a>
      </div>
    </nav>
{{/unless}}
