<img class='about__logo' src='/img/logo-text.png' alt='gistalt logo'>

Gistalt is an easy and elegant way to read GitHub Gists.
{{#if session.accessToken}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fl'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a>
    </div>
    <div class='pill bottom1 fr'>
        <a class='btn' href='/about'>About</a><!--
        --><a class='btn' href='https://github.com/jshawl/gistalt/issues/new'>Submit feedback</a><!--
        --><a class='btn' href='/logout'>Logout</a>
    </div>
  </nav>
  {{else}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fr'>
      <a class='btn-main btn js-show-progress' href='/login'>Log In with GitHub</a>
    </div>
  </nav>
{{/if}}