<form method="post" action="/create" class='js-do-save'>
  <input type="hidden" class='js-id' value="">
  <input type="hidden" class='js-delete' value="">
  <input class='col8 description js-description' type="text" value="{{description}}" name="description" placeholder="Enter description...">
  <div class='col4'>
  <small class=''>by {{owner.login}}</small>
  </div>
  <div class="bottom2 row6">
  <input class='filename col8 js-filename' type="text" name="filename" value="{{time}}.md"><br>
  <div class='col4'>
  <input class='' type='checkbox' name="isPublic" {{#if isPublic}}checked="true"{{/if}}"> 
  <small class=''>Public</small>
  </div>
  </div>
  <textarea autofocus class='js-content' id="content" name="content">{{content}}</textarea>
  <br>
  <button class='js-hide' type="submit">Create File</button>
  <div class='col2 margin0 pin-topleft top3'>
  </div>

{{#if session.accessToken}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fl'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a><!--
        --><a class='btn' href='https://github.com/jshawl/gistalt/issues/new'>Submit feedback</a>
    </div>
    <div class='pill bottom1 fr'>
        <a class='btn' href='/logout'>Logout</a><!--
       --><a href='#' type='submit' data-saved="true" data-submit=".js-do-save" class='btn btn-main js-save'>Create File</a>
    </div>
  </nav>
  {{/if}}
</form>
