<form method="post" action="/create" class='js-do-save'>
  <input type="hidden" class='js-id' value="">
  <input type="hidden" class='js-delete' value="">
  <input class='col8 description js-description' type="text" value="{{description}}" name="description" placeholder="Enter description...">
  <div class='col4'>
  <small class=''>by {{owner.login}}</small>
  </div>
  <div class="bottom2 row6">
  <input class='filename col8 js-filename' type="text" name="filename" value="{{time}}.md"><br>
  <!--
  YO JESSE! if the public button is below, should this one be programmatically changed?
  <div class='col4'>
  <input class='' type='checkbox' name="isPublic" {{#if isPublic}}checked="true"{{/if}}"> 
  <small class=''>Public</small>
  </div>
  -->
  </div>
  <textarea autofocus class='js-content' id="content" name="content">{{content}}</textarea>
  <br>
  <button class='js-hide' type="submit">Create Gist</button>
  <div class='col2 margin0 pin-topleft top3'>
  </div>

{{#if session.accessToken}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fl'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a><!--
        --><a class='btn' href='https://github.com/jshawl/gistalt/issues/new'>Submit feedback</a>
    </div>
    <div class='pill bottom1 fr checkbox-pill'>
        <a class='btn' href='/logout'>Logout</a><!--
        --><input type='checkbox' id='checkbox-public' checked='checked'><!--
        --><label for='checkbox-public' class='btn icon check'>Public</label><!--
       --><a href='#' type='submit' data-saved="true" data-submit=".js-do-save" class='btn btn-main js-save js-show-progress'>Create File</a>
    </div>
  </nav>
  {{/if}}
</form>
