*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }

p, .CodeMirror {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0; }

h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */
  margin: 1em auto .5em; }

h2 {
  font-size: 2.25em;
  /* 36 */
  line-height: 1.3333em;
  /* 48 */
  margin: 1.3333em auto .66667em; }

h3 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  margin-bottom: 1em; }

h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em; }

ul, ol {
  font-size: 1em;
  list-style-type: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

small, .dablink, .hatnote {
  max-width: 46em;
  font-size: .875em;
  /* 14 */
  line-height: 1.71429em;
  /* 24 */ }

tr, td, th {
  padding: 0; }

tr th {
  padding-top: 1.71429em; }

a {
  color: #1998e8;
  text-decoration: none; }

label {
  font-weight: bold; }

.top1 {
  margin-top: 1em; }

.top2 {
  margin-top: 1.5em; }

.top3 {
  margin-top: 3em; }

.top4 {
  margin-top: 4.8em; }

.top12 {
  margin-top: 12em; }

.bottom1 {
  margin-bottom: 1em; }

.bottom2 {
  margin-bottom: 1.5em; }

.bottom3 {
  margin-bottom: 3em; }

/* Columns
========================================*/
.row6 {
  height: 6em; }

.limiter {
  width: 83.3333%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.col0 {
  float: left;
  width: 4.1666%;
  max-width: 50px; }

.col1 {
  float: left;
  width: 8.3333%;
  max-width: 100px; }

.col2 {
  float: left;
  width: 16.6666%;
  max-width: 200px; }

.col3 {
  float: left;
  width: 25%;
  max-width: 300px; }

.col4 {
  float: left;
  width: 33.3333%;
  max-width: 400px; }

.col5 {
  float: left;
  width: 41.6666%;
  max-width: 500px; }

.col6 {
  float: left;
  width: 50%;
  max-width: 600px; }

.col7 {
  float: left;
  width: 58.3333%;
  max-width: 700px; }

.col8 {
  float: left;
  width: 66.6666%;
  max-width: 800px; }

.col9 {
  float: left;
  width: 75%;
  max-width: 900px; }

.col10 {
  float: left;
  width: 83.3333%;
  max-width: 1000px; }

.col11 {
  float: left;
  width: 91.6666%;
  max-width: 1100px; }

.col12 {
  width: 100%;
  display: block; }

.unlimiter .col0, .unlimiter .col1, .unlimiter .col2, .unlimiter .col3, .unlimiter .col4, .unlimiter .col5, .unlimiter .col6, .unlimiter .col7, .unlimiter .col8, .unlimiter .col9, .unlimiter .col10, .unlimiter .col11 {
  max-width: none; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.margin0 {
  margin-left: 4.1666%; }

.margin1 {
  margin-left: 8.3333%; }

.margin2 {
  margin-left: 16.6666%; }

.margin3 {
  margin-left: 25%; }

.margin4 {
  margin-left: 33.3333%; }

.margin5 {
  margin-left: 41.6666%; }

.margin6 {
  margin-left: 50%; }

.margin7 {
  margin-left: 58.3333%; }

.margin8 {
  margin-left: 66.6666%; }

.margin9 {
  margin-left: 75%; }

.margin10 {
  margin-left: 83.3333%; }

.margin11 {
  margin-left: 91.6666%; }

.margin12 {
  margin-left: 100%; }

/* reverse margins on right-floated elements */
.margin0r {
  margin-right: 4.1666%; }

.margin1r {
  margin-right: 8.3333%; }

.margin2r {
  margin-right: 16.6666%; }

.margin3r {
  margin-right: 25%; }

.margin4r {
  margin-right: 33.3333%; }

.margin5r {
  margin-right: 41.6666%; }

.margin6r {
  margin-right: 50%; }

.margin7r {
  margin-right: 58.3333%; }

.margin8r {
  margin-right: 66.6666%; }

.margin9r {
  margin-right: 75%; }

.margin10r {
  margin-right: 83.3333%; }

.margin11r {
  margin-right: 91.6666%; }

.margin12r {
  margin-right: 100%; }

.pad3y {
  padding: 3em 0em 3em 0em; }

.float-none {
  float: none; }

.fr {
  float: right; }

.fl {
  float: left; }

.cb {
  clear: both; }

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* fixed stuff
========================================*/
.pin-topleft {
  position: fixed;
  top: 0;
  left: 0; }

.pin-topright {
  position: fixed;
  top: 0;
  right: 0; }

.pin-bottom {
  position: fixed;
  bottom: 0; }

.amp {
  font-size: 110%;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal; }

[role="main"] {
  padding-bottom: 6em; }

@media all and (max-width: 40em) {
  .pin-topleft, .pin-bottomleft, .col8, .col4, [role="main"] {
    position: relative;
    width: 100%; }
  [role="main"] {
    margin: 0; }
  nav.top3 {
    margin: 1em auto;
    width: 83.3333%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .col4 .fr {
    float: none; }
  form .pin-topleft {
    position: relative;
    float: none;
    max-width: 1000px;
    width: 100%;
    margin: 0; }
    form .pin-topleft small, form .pin-topleft div {
      float: left;
      width: 50%; } }

::selection {
  background-color: #efefef;
  color: #000; }

body, input {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #333;
  background-color: #fefefe; }

h1, h2 {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #222; }

h3, label {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #222; }

small {
  color: #c4c4c4;
  font: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

nav {
  z-index: 100;
  font-family: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  nav li a {
    color: #c4c4c4; }
  nav li a:hover {
    color: #1998e8; }

/* NEW GIST STYLES */
input {
  display: block;
  border: none;
  padding: .5em .5em .5em 0em;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  font-size: .875em; }
  input:hover {
    border-bottom: 2px solid #eee; }
  input:focus {
    border-bottom: 2px solid #1998e8;
    outline: none; }

input[type="checkbox"] {
  display: inline-block; }

footer {
  color: #ccc;
  padding: 12em 0em 0em 0em;
  font-family: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  footer a {
    color: #c4c4c4; }
  footer a:hover {
    color: #1998e8; }

.filename {
  font-weight: bold;
  font-size: 1.5em; }

.prev {
  float: left; }

.next {
  float: right; }

.gist-title {
  font-size: 2em; }

.gists small {
  display: block; }

.gists {
  padding: 0;
  margin-bottom: 2em; }
  .gists li {
    overflow: auto;
    padding: 1.5em 0em 1.5em;
    border-bottom: 1px solid #eee; }

.gist-title {
  font-size: 2em; }

article > h1 {
  margin-top: 0; }

/* Pill wrapper for joining buttons. */
/* Use <!-- --> to eliminate whitespace between buttons. */
.pill > * {
  border-radius: 0 0 0 0;
  border: 0 solid white;
  border-left-width: 1px; }

.pill > *:first-of-type {
  border-radius: 3px 0 0 3px;
  border-left-width: 0; }

.pill > *:last-of-type {
  border-radius: 0 3px 3px 0; }

.pill > *:only-child {
  border-radius: 3px; }

.pill .button.stroke {
  border-right-width: 2px;
  border-left-width: 0; }

.pill .button.stroke:first-of-type {
  border-left-width: 2px; }

.btn {
  display: inline;
  padding: .5em;
  font-size: .875em;
  line-height: 1.71429em;
  margin: 0em;
  text-align: center;
  color: #c4c4c4;
  background-color: #222;
  font-family: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  .btn:hover {
    color: #FFF; }
  .btn.btn-main {
    color: #FFF;
    background-color: #1998e8; }
  .btn.btn-main:hover {
    background-color: #51BCFF; }

[data-saved="false"].btn.btn-main {
  transition: all 1s;
  background-color: #F2AA4B;
  -webkit-animation: pulse 15s 1s infinite;
  animation: pulse 15s 1s infinite; }

@-webkit-keyframes pulse {
  0% {
    background-color: #F2AA4B; }

  50% {
    background-color: #E84019; }

  100% {
    background-color: #F2AA4B; } }

@keyframes pulse {
  0% {
    background-color: #F2AA4B; }

  50% {
    background-color: #E84019; }

  100% {
    background-color: #F2AA4B; } }

.CodeMirror-wrap {
  background: #fff;
  clear: both; }

.CodeMirror {
  min-height: 500px; }

.CodeMirror .CodeMirror-cursors div.CodeMirror-cursor {
  border-left: 2px solid #333; }
