*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }

p {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0; }

h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */
  margin: 1em auto .5em; }

h2 {
  font-size: 2.25em;
  /* 36 */
  line-height: 1.3333em;
  /* 48 */
  margin: 1.3333em auto .66667em; }

h3 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  margin-bottom: 1em; }

h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em; }

ul, ol {
  font-size: 1em;
  list-style-type: none;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
  padding-left: 3em; }

small, .dablink, .hatnote {
  max-width: 46em;
  font-size: .875em;
  /* 14 */
  line-height: 1.71429em;
  /* 24 */
  margin: 0 0 1.71429em; }

tr, td, th {
  padding: 0; }

tr th {
  padding-top: 1.71429em; }

a {
  color: #1998e8;
  text-decoration: none; }

label {
  font-weight: bold; }

.bw-wrapper {
  width: 100%;
  max-width: 72em;
  margin: 0 auto;
  overflow: hidden; }

.top1 {
  margin-top: 1em; }

.top2 {
  margin-top: 1.5em; }

.top3 {
  margin-top: 3em; }

.page-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: red;
  z-index: 9999; }

.bw-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 6em;
  padding: 0 1.5em;
  background: #f6f6f6; }
  .bw-header .bw-menu {
    display: none;
    margin: 0 auto;
    width: 100%;
    font-size: .875em; }
    .bw-header .bw-menu .portal {
      justify-content: center;
      align-items: center;
      padding-right: 1em; }
      .bw-header .bw-menu .portal ul {
        padding-left: 0em; }
  .bw-header .bw-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 1.25em; }
  .bw-header .bw-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em; }
    .bw-header .bw-header-logo a {
      opacity: .75;
      -webkit-transition: opacity .3s ease-in-out; }
      .bw-header .bw-header-logo a:hover {
        opacity: 1; }
    .bw-header .bw-header-logo img {
      width: 120px;
      height: auto; }
  .bw-header .bw-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bw-header .bw-search input[type="text"] {
      font-size: 1.125em;
      height: 2.25em;
      text-align: left;
      padding: 0 1.5em;
      width: 100%;
      max-width: 27em;
      background: #fff;
      border: none;
      color: #c4c4c4; }
      .bw-header .bw-search input[type="text"]:focus {
        outline: none;
        color: #000;
        background: #fff; }
  .bw-header .bw-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    padding-left: 1em;
    padding: 0;
    font-size: 1;
    color: #c4c4c4; }
  .bw-header .bw-donate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    padding-left: 1em;
    padding: 0;
    font-size: 1; }

.bw-history {
  width: 100%;
  border-bottom: 1px solid #f6f6f6; }
  .bw-history ol {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 9em;
    list-style: none;
    overflow-x: scroll;
    border-right: 1px solid #f6f6f6; }
    .bw-history ol::-webkit-scrollbar {
      display: none; }
  .bw-history li {
    position: relative;
    display: block;
    max-width: 9em;
    width: 9em;
    min-width: 9em;
    padding: .75em 1.5em;
    border-right: 1px solid #f6f6f6; }
    .bw-history li:hover {
      background: #f6f6f6; }
    .bw-history li:first-child {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      padding-left: 0; }
      .bw-history li:first-child:hover {
        background: #fff; }
    .bw-history li a, .bw-history li label {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: .875em;
      line-height: 1.71429em; }

.bw-body {
  width: 100%;
  margin: 0 auto 0;
  padding: 0 1em; }
  .bw-body > article {
    padding-top: 1px; }
  .bw-body p, .bw-body ol, .bw-body ul {
    max-width: 36em;
    margin-left: 0; }
  .bw-body sup {
    display: none;
    position: relative; }
    .bw-body sup a {
      position: absolute; }

.infobox, .thumb {
  padding: 1.5em;
  background-color: #f6f6f6;
  border: 1px solid #f3f3f3;
  margin-bottom: 1.5em;
  min-width: 27em;
  max-width: 27em; }
  .infobox img, .thumb img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em; }
  .infobox .magnify, .infobox .NavFrame, .thumb .magnify, .thumb .NavFrame {
    display: none; }

.infobox {
  float: right;
  margin-left: 2em;
  width: 30em; }
  .infobox tr {
    font-size: .875em;
    line-height: 1.71429em;
    margin-bottom: 1.71429em; }
  .infobox tbody > tr:first-child th {
    text-align: center;
    padding: 0; }
  .infobox img {
    margin-top: 1.5em; }

.thumb .thumbcaption {
  font-size: .875em;
  line-height: 1.71429em; }

.thumb.tright {
  float: right;
  clear: right;
  margin-left: 2em; }

.thumb.tleft {
  float: left;
  clear: left;
  margin-right: 2em; }

.dablink {
  font-style: italic;
  color: #555;
  font-size: .8em;
  max-width: 54em; }

.metadata.topicon {
  position: absolute;
  top: 110px;
  right: 20px;
  opacity: .25; }

.infobox #Timeline-row {
  display: none; }

::selection {
  background-color: #efefef;
  color: #000; }

body, input {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #222;
  background-color: #f6f6f6; }

h1, h2 {
  font-family: "kepler-std", "Georgia", "Times New Roman", serif;
  font-weight: normal; }

h3, label {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold; }

nav {
  font-family: "inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  nav li a {
    color: #c4c4c4; }
  nav li a:hover {
    color: #1998e8; }
