body{
  max-width:40em;
  margin:auto;
  font-family: sans-serif;
}

.file{
  display:block;
  width:100%;
  font:inherit;
  padding:1em;
  margin:2em 0;
  min-height:500px;
  outline:none;
  border:none;
  background:#eee;
  font-family: Monaco, monospace;
}